{% for skin in skins %}
<form action="{{ path_for('admin.add.skin.post') }}" method="post">
<div class="row py-2 border-bottom">

	<div class="col">
		<input type="hidden" id="skin_name" name="skin_name" value="{{ skin }}"><b>{{ skin }}</b>
	</div>
	<div class="col-auto">
		<button class="btn btn-outline-success btn-sm" type="submint">{{ trans('install') }}</button>
	</div>

</div>
</form>
{% endfor %}
{% if not skins %}

<div class="alert alert-warning" role="alert">
  <strong>{{ trans('All skins are installed in your board') }}.</strong>
</div>

{% endif %}