{% extends 'templates/main.twig' %}


{% block content %}
<h2>{{ trans('admin.groups') }}</h2>
	<ul class="nav justify-content-end">
	  <li class="nav-item">
		<a class="nav-link btn btn-success active" href="{{ path_for('admin.groups.add') }}">{{ trans('add group') }}</a>
	  </li>
	</ul>
<hr />
        <ul class="list-group">
			{% for group in groups %}
		  <li class="list-group-item">
			<a href="{{ path_for('admin.groups.edit', {'id': group.id}) }}">{{ group.grupe_name |raw }}</a>
			
			<!-- Button trigger modal -->
			<button type="button" class="btn btn-danger float-right" data-toggle="modal" data-target="#group-{{ group.id }}">
			  {{ trans('delete') }}
			</button>

			<!-- Modal -->
			<div class="modal fade" id="group-{{ group.id }}" tabindex="-1" role="dialog" aria-labelledby="group-{{ group.id }}-modal" aria-hidden="true">
			  <div class="modal-dialog" role="document">
				<div class="modal-content">
				  <div class="modal-header">
					<h5 class="modal-title" id="group-{{ group.id }}-modal">{{ trans('delete group') }}: {{ group.grupe_name |raw }}</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					  <span aria-hidden="true">&times;</span>
					</button>
				  </div>
				  <div class="modal-body">
					{{ trans('Are you sure you want remove permanently this group') }}?
				  </div>
				  <div class="modal-footer">
					<form method="post" action="{{ path_for('admin.groups.delete') }}">
					<input type="hidden" name="id" value="{{ group.id }}">
					<button type="submit" class="btn btn-warning">{{ trans('yes') }}</button>
					</form>
				  </div>
				</div>
			  </div>
			</div>
			
		  </li>
			{% endfor %}
		</ul>
		{% include 'templates/partials/paginator.twig' %}	
{% endblock %}