
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title>{{ title }}</title>

    <link rel="canonical" href="{{ canonical }}">

    <!-- Bootstrap core CSS -->
    <link href="{{ base_url() }}/skins/simple/css/bootstrap.min.css" rel="stylesheet">
	<link href="{{ base_url() }}/skins/simple/css/all.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
	<link href="{{ base_url() }}/skins/simple/css/dropzone.css" rel="stylesheet">
    <link href="{{ base_url() }}/public/admin/default/css/main.css" rel="stylesheet">
