<aside class="col-12 col-md-2 p-0 bg-dark flex-shrink-1">
	<nav class="navbar navbar-expand navbar-dark bg-dark flex-md-column flex-row align-items-start py-2">
		<div class="collapse navbar-collapse ">
			<ul class="flex-md-column flex-row navbar-nav w-100 justify-content-between">
				 <li class="nav-item">
					<a
					  class="nav-link nav-link-collapse"
					  href="#"
					  id="hasSubItems"
					  data-toggle="collapse"
					  data-target="#collapseSubItems1"
					  aria-controls="collapseSubItems1"
					  aria-expanded="false"
					><i class="fas fa-cogs"></i><span class="d-none d-md-inline"> {{ trans('admin.configuration') }}</span></a>
					<ul class="nav-second-level collapse" id="collapseSubItems1" data-parent="#navAccordion">
					  <li class="nav-item">
						<a class="nav-link" href="#">
						  <span class="nav-link-text"><i class="fas fa-sliders-h"></i> {{ trans('admin.settings') }}</span>
						</a>
					  </li>
					  <li class="nav-item">
						<a class="nav-link" href="#">
						  <span class="nav-link-text"><i class="fas fa-puzzle-piece"></i> {{ trans('admin.plugins') }}</span>
						</a>
					  </li>
					  <li class="nav-item">
						<a class="nav-link" href="{{ path_for('admin.skinlist') }}">
						  <span class="nav-link-text"><i class="fas fa-paint-brush"></i> {{ trans('admin.templates') }}</span>
						</a>
					  </li>
					</ul>
				  </li>
				<li class="nav-item">
					<a
					  class="nav-link nav-link-collapse"
					  href="#"
					  id="hasSubItems"
					  data-toggle="collapse"
					  data-target="#collapseSubItems2"
					  aria-controls="collapseSubItems2"
					  aria-expanded="false"
					><i class="fas fa-list-alt"></i><span class="d-none d-md-inline"> {{ trans('admin.board') }}</span></a>
					<ul class="nav-second-level collapse" id="collapseSubItems2" data-parent="#navAccordion">
					  <li class="nav-item">
						<a class="nav-link" href="{{ path_for('admin.boards') }}">
						  <span class="nav-link-text"><i class="fas fa-tasks"></i> {{ trans('admin.managment') }}</span>
						</a>
					  </li>
					  <li class="nav-item">
						<a class="nav-link" href="#">
						  <span class="nav-link-text"><i class="fa fa-bullhorn"></i> {{ trans('admin.annoucments') }}</span>
						</a>
					  </li>
					  <li class="nav-item">
						<a class="nav-link" href="#">
						  <span class="nav-link-text"><i class="fas fa-bell"></i> {{ trans('admin.notification') }}</span>
						</a>
					  </li>
					</ul>
			  </li>
				<li class="nav-item">
					<a class="nav-link pl-0" href="#"><i class="fa fa-cog fa-fw"></i> <span class="d-none d-md-inline">Link</span></a>
				</li>
				<li class="nav-item">
					<a class="nav-link pl-0" href="#"><i class="fa fa-heart codeply fa-fw"></i> <span class="d-none d-md-inline">Codeply</span></a>
				</li>
				<li class="nav-item">
					<a class="nav-link pl-0" href="#"><i class="fa fa-star codeply fa-fw"></i> <span class="d-none d-md-inline">Link</span></a>
				</li>
				<li class="nav-item">
					<a class="nav-link pl-0" href="#"><i class="fa fa-star fa-fw"></i> <span class="d-none d-md-inline">Link</span></a>
				</li>
			</ul>
		</div>
	</nav>
</aside>