{% extends 'templates/main.twig' %}

{% block content %}



	<h1><i class="fas fa-clipboard-list"></i> {{ category.name }}</h1>

		<div>{{ trans('Board') }} / {{ trans('Threads') }} / {{ trans('Posts') }} / {{ trans('Last post') }}</div>
		</div>

		<ul>
		{% for board in boards %}
		<!-- one board -->
		<li >
		  <i class="fas fa-comment fa-2x"></i><h2><a href="{{ board.url }}">{{ board.board_name }}</a> / {{ board.plots_number }} / {{ board.posts_number }}</h2>
			<div>{{ board.board_description | raw }}</div>
		   
			<div >
				{% if board.last_post_url %}
					<a href="{{ board.last_post_url }}">{{ board.plot_name }}</a> by 
					<a href="{{ last_post_author_url }}"> {{ board.last_post_author | raw }}</a>
					<i class="far fa-clock"></i> {{ board.created_at }}</div>
				{% else %}
				<div> - </div>
				{% endif %}

		</li>
		<!-- /one board -->
	   {% endfor %}
		<!-- /one board -->            
	  </ul>

{% endblock %}