{% extends 'templates/main.twig' %}

{% block content %}

<div>
{% include 'templates/partials/chatbox.twig' %}
<hr />

{% for category in categories %}
	<div id="category-{{ category.id }}"><a href="{{ category.url }}">{{ category.name|raw }}</a></div>
	<div>{{ trans('Board') }} / {{ trans('Threads') }} / {{ trans('Posts') }} / {{ trans('Last post') }}</div>
	{% for board in (boards[category.id]) %}
		<div>
			<a href="{{ board.url }}">{{ board.board_name }}</a> / {{ board.plots_number }} / {{ board.posts_number }}
		</div>
		<div>{{ board.board_description | raw }}</div>
		<div> 
			<a href="{{ board.last_post_url }}">{{ board.last_post_data.plot_name }}</a> {{ trans('by') }} 
			<a href="{{ board.last_post_author_url }}">{{ board.last_post_author | raw }}</a>
			<i class="far fa-clock"></i> {{ board.last_post_date | date("Y-m-d H:i:s") }}
		</div>
		</div>
	{% endfor %}
{% endfor %}

<hr />
Board Statistics
<div>
	<b>{{ trans('Whos Online') }}:</b>
	<p>WIP</p>
	<b>{{ trans('Group legend') }}:</b>
	<p>{% for group in boards.groups_legend %}{{ group.grupe_name |raw }}, {% endfor %}</p>
</div>
</div>
{% endblock %}

{% block endcontent %}
<script src="{{ base_url() }}/public/scripts/chatbox.js"></script>
{% endblock %}