<!-- one chat message -->
<li value="{{ shout.id }}" class="list-group-item chatbox-li">
<div class="row">
  <div class="col-2 col-sm-1">
	<img src="{{ shout.avatar }}" class="rounded-circle chat-av" alt="" >
  </div>
  <div class="col-10 col-sm-11 fs-12">
  <div class="row">
	  <div class="col-12">
		<span><b class="float-left"><a href="{{ shout.uurl }}">{{ shout.username_html | raw }}</a></b><i class="float-right fc-g">{{ shout.updated_at}}</i>
	  </div>
	  <div class="col-12">
		{{ shout.content }}
	  </div>
  </div>	  
</div>
</div>		
</li>
<!-- /one chat message -->