	<div class="card border-light mb-3">
		  <div class="card-header"><i class="fa fa-chart-bar"></i> {{ trans('Statistics') }}</div>
		  <div class="card-body px-2">
			<p class="card-text">
			<ul class="list-group list-group-flush">
				 <li class="list-group-item py-1">{{ trans('Members') }}: <span class="float-right">{{ stats.users_count }}</span></li>
				 <li class="list-group-item py-1">{{ trans('Posts') }}: <span class="float-right">{{ stats.posts_count }}</span></li>
				 <li class="list-group-item py-1">{{ trans('Threads') }}: <span class="float-right">{{ stats.plots_count }}</span></li>
				 <li class="list-group-item py-1">{{ trans('Newest Member') }}: <span class="float-right"><b>{{ stats.last_user | raw }}</b></span></li>
			</ul>
			</p>
		  </div>
	</div>