{% if auth.check %}
	<!-- module -->
	<div class="card border-light mb-3">
		  <div class="card-header"><i class="fas fa-user-tag"></i> {{ trans('Your statistics') }}</div>
		  <div class="card-body px-2">			
			<img src="{{ user.avatar }}" class="rounded-circle mx-auto d-block stat-av" alt="{{ auth.user.username }}">
			<p class="text-center"><b>{{ user.username | raw}}</b></p>
			<ul class="list-group list-group-flush">
				 <li class="list-group-item py-1">{{ trans('Group') }}: <span class="float-right">{{ user.group | raw}}</span></li>
				 <li class="list-group-item py-1">{{ trans('Reputatnion') }}: <span class="float-right">{{ user.reputation }}</span></li>
				 <li class="list-group-item py-1">{{ trans('Posts') }}: <span class="float-right">{{ user.posts }}</span></li>
				 <li class="list-group-item py-1">{{ trans('My IP') }}: <span class="float-right"><b>Hidden</b></span></li>
				 <li class="list-group-item py-1">{{ trans('Last visit') }}: <span class="float-right">{{ auth.user.updated_at }}</span></li>
			</ul>
		  </div>
	</div>
	<!-- /module -->
	{% endif %}