{% extends 'templates/main.twig' %}

{% block content %}
<br />

{{ trans('Sign in') }}
               
<form action="{{ path_for('auth.signin') }}" method="post">

		<label for="login">{{ trans('Login or mail') }}</label>
		<input type="text" name="login" id="login" placeholder="{{ trans('mail@domain.com') }}" class="form-control {{ errors.login ? 'is-invalid' : ''}}" value="{{ old.login }}">
		<span class="invalid-feedback">{{ errors.login | first }}</span>

		<label for="password">{{ trans('Password') }}</label>
		<input type="password" name="password" id="password"  class="form-control {{ errors.password ? 'is-invalid' : ''}}" value="{{ old.password }}">
		 <span class="invalid-feedback">{{ errors.password | first }}</span>

		
	<button type="submint" class="btn btn-dark">{{ trans('Sign in') }}</button>
	
	
</form>


{% endblock %}