{% extends 'templates/main.twig' %}

{% block content %}

<h1><i class="fas fa-user-plus"></i> {{ trans('Sign up') }}</h1>
				
		
<div >
{{ trans('Account details') }}
</div>
<form action="{{ path_for('auth.signup') }}" method="post">
	<label for="username">{{ trans('Login') }}</label>
	<input type="text" name="username" id="username"  class="form-control {{ errors.username ? 'is-invalid' : ''}}" value="{{ old.username }}">
	<span class="invalid-feedback">{{ trans(errors.username | first) }}</span>
	</div>
 
	<label for="email">{{ trans('Email address') }}</label>
	<input type="text" name="email" id="email"  class="form-control {{ errors.email ? 'is-invalid' : ''}}" value="{{ old.email }}">
	<span class="invalid-feedback">{{ trans(errors.email | first) }}</span>

	<label for="vemail">{{ trans('Confirm Email address') }}</label>
	<input type="text" name="vemail" id="vemail"  class="form-control {{ errors.vemail ? 'is-invalid' : ''}}" value="">
	<span class="invalid-feedback">{{ trans(errors.vemail | first) }}</span>
 
	<label for="password">{{ trans('Password') }}</label>
	<input type="password" name="password" id="password"  class="form-control {{ errors.password ? 'is-invalid' : ''}}" value="">
	<span class="invalid-feedback">{{ trans(errors.password | first) }}</span>
 
	<label for="vpassword">{{ trans('Confirm Password') }}</label>
	<input type="password" name="vpassword" id="vpassword"  class="form-control {{ errors.vpassword ? 'is-invalid' : ''}}" value="">
	<span class="invalid-feedback">{{ trans(errors.vpassword | first) }}</span>
  
	<label for="captchaCode">{{ trans('Captcha') }}</label>
	<div>
	<div id="captcha">{{ captcha.image | raw }}</div>
	<div>{{ captcha.input | raw }}
	<small id="captcha-ref-btn">Refresh captcha</small>
	</div>		
	</div>


  <label for="recommended">{{ trans('Referrer') }}</label>
	<input id="autocomplete-dynamic-users" name="recommended" type="text" class="form-control" id="Polecający" aria-describedby="{{ trans('Referrer') }}" placeholder="{{ trans('Referrer') }}">
	<small id="Polecający" class="form-text text-muted">Jeśli ktoś polecił Ci forum, wpisz tutaj jego login. Jeśli nie - pozostaw to pole puste.</small>
		
		

	<button type="submint" >{{ trans('Sign up') }}</button>
  
</form>	

	<!-- /main register -->

{% endblock %}


{% block endcontent %}

<script>

var captchaRef= "{{ path_for('auth.ref.captcha') }}";
var urlFor = "{{ path_for('auth.hint') }}";

</script>

<script type="text/javascript" src="{{ base_url() }}/public/scripts/jquery.autocomplete.js"></script>
<script type="text/javascript" src="{{ base_url() }}/public/scripts/userAutocomplete.js"></script>

{% endblock %}