{% extends 'templates/main.twig' %}

{% block content %}

	<div class="row">

	<!-- main board -->
	<!-- new plot button -->
	<div class="col-lg-12 order-0 my-2">
		<a class="btn btn-secondary float-right" href="{{ base_url() }}/newplot/{{ board.board_id }}" role="button">{{ trans('Start new plot') }}</a>
	</div>
	<div class="col-lg-12 order-2 my-2">
		<a class="btn btn-secondary float-right" href="{{ base_url() }}/newplot/{{ board.board_id }}" role="button">{{ trans('Start new plot') }}</a>
	</div>
	<!-- new plot button -->
	<div class="col-lg-12 order-1">
		
		{% if checkcb %}
		<div class="card-header"><i class="fas fa-clipboard-list"></i> Subforums: {{ title }}</div>
		<div class="card-body px-0 py-1 collapse show" id="board-{{ category.cat_id }}">
					<ul class="list-group list-group-flush">
						<!-- board legend -->
						<li class="list-group-item bg-light">
						<div class="row w-100 fs-10b">
						<div class="col-md-1"></div>
						<div class="col-12 col-md-5">Forum</div>
						<div class="col-3 d-none d-md-block ">Threads / Posts</div>
						<div class="col-3 d-none d-md-block text-center">Last Post</div>
						</div>
						</li>
						<!-- one board -->
						{% for board in childbords %}
						<li class="list-group-item {% if board.board_order is even %}bg-white{% else %}bg-light{% endif %}">
							<div class="row w-100">
							<div class="col-2 col-md-1 pl-3 {{ board.read }} text-center"><i class="fas fa-comment fa-2x"></i></div>
							<div class="col-10 col-md-5">
								<div class="row">
									<div class="col-12 fs-15"><a href="{{ base_url()}}/board/{{ setString.toUrl(board.board_name) }}/{{ board.id }}">{{ board.board_name|raw }}</a></div>
									<div class="col-12 fs-12">{{ board.board_description|raw }}</div>
								</div>
							</div>
							<div class="col-2 mx-auto d-none d-md-block">{{ board.plots_no }} / {{ board.posts_no }}</div>
							<div class="col-3 d-none d-md-block">
								<div class="row text-center fs-12">
								{% set last = board.last %}
								{% if last.plot_name %}
								<div class="col-12"><a href="{{ base_url() }}/plot/{{ setString.toUrl(last.plot_name) }}/{{ last.plot_id }}/{{ board.endpage }}#post-{{ last.id }}">{{ last.plot_name }}</a> by 
								<a href="#"> userData(last.user_id).username</a></div>
								<div class="col-12"><i class="far fa-clock"></i> {{ last.created_at }}</div>
								{% else %}
								<div class="col-12"> - </div>
								{% endif %}
								</div>
							</div>
							</div>
						</li>
						{% endfor %}
						<!-- /one board -->							
					</ul>
		</div>
		{% endif %}
		
		<!-- Category Board -->
				
		<div class="card border-light">
			<div class="card-header">
				<div class="float-left"><h1><i class="fas fa-clipboard-list"></i> {{ board_name }}</h1></div>
				<div class="float-right"><a href="#">Mark as read</a> | <a href="#">Subscribe this Board</a></div>
			</div>
				<div class="card-body px-0 py-1" id="board-1">
					<ul class="list-group list-group-flush">
						<!-- board legend -->
						<li class="list-group-item bg-white">
						<div class="row w-100 fs-10b">
							<div class="col-1 col-md-1"></div>
							<div class="col-6 col-md-5">Topic / Author</div>	
							<div class="col-4 col-md-2 text-center">Replies / Views</div>
							<div class="col-2 d-none d-md-block text-center">Rating</div>
							<div class="col-2 d-none d-md-block text-center">Last Post</div>
						</div>
						</li>
						{% for plot in board.plots %}
						<!-- one plot -->
						<li class="list-group-item bg-light">
						<div class="row w-100">
							<div class="col-1 col-md-1"><i class="fas fa-file"></i></div>
							<div class="col-6 col-md-5">
								<div class="row">
									<div class="col-12"><h2><a href="{{ base_url() }}/plot/{{ setString.toUrl(plot.plot_name) }}/{{ plot.id }}/{{plot.lastPage}}">{{ plot.plot_name }}</a></h2></div>
									<div class="col-12 fs-12"><a href="{{ base_url() }}/user/{{ setString.toUrl(plot.username) }}/{{ plot.author_id }}">{{ plot.username }}</a></div>
								</div>
							</div>	
							<div class="col-4 col-md-2 text-center">{{ plot.replies }} / {{ plot.views }}</div>
							<div class="col-2 d-none d-md-block text-center">
							{% for i in 1..5 %}
								{% set starClass = (plot.stars >= i ? "fas fa-star" : "far fa-star")  %}
								<i class="{{ starClass }}"></i>
							{% endfor %}
							
							</div>
							<div class="col-2 d-none d-md-block text-center">
								<div class="row text-center fs-12">
									<div class="col-12"><i class="far fa-clock"></i> {{  plot.last_ca }}</div>
									<div class="col-12">last reply: <a href="{{ plot.last_url }}">{{ plot.last_user_html|raw }}</a></div>
								</div>
							</div>

						</div>
						</li>
						<!-- /one plot -->	
						{% endfor %}
					</ul>

				</div>
				
									<!-- paginator -->
	{% include 'templates/partials/pagination.twig' %}	
	<!-- /paginator -->
				
		</div>	
		<!-- / Board -->	
	</div>
	<!-- /main board -->
	</div>

{% endblock %}

{% block endcontent %}
<script>

var urlFor = " urlFor('auth.hint') ";
console.log(urlFor);

</script>

{% endblock %}