{% extends 'templates/main.twig' %}

{% block content %}

	<div class="row">
	{% include 'templates/partials/modules.twig' %}
	<!-- main board -->
	<!-- new plot button -->
	<div class="col-lg-12 order-0 my-2">
		<a class="btn btn-secondary float-right" href="{{ path_for('board.newPlot', {'board_id': board.board_id}) }}" role="button">{{ trans('Start new plot') }}</a>
	</div>
	<div class="col-lg-12 order-5 my-2">
		<a class="btn btn-secondary float-right" href="{{ path_for('board.newPlot', {'board_id': board.board_id}) }}" role="button">{{ trans('Start new plot') }}</a>
	</div>
	<!-- new plot button -->
	<div class="col-lg order-1">		
		<!-- Category Board -->
		<div class="row">
        {% include 'templates/partials/inside-modules.twig' %}
        <div class="col order-1">					
		<div class="card border-light">
			<div class="card-header">
				<div class="float-left"><h1><i class="fas fa-clipboard-list"></i> {{ board_name | raw }}</h1></div>
				<div class="float-right"><a href="#">Mark as read</a> | <a href="#">Subscribe this Board</a></div>
			</div>
            <div class="card border-light">
            {% if childboards %}
            
			<div class="card-header my-2">
				<div class="float-left"><h2>{{ trans('childboards') }}</h2></div>
			</div>
            <div class="card-body px-0 py-1 mx-1" id="board-1">
                <ul class="list-group list-group-flush">
                {% for childboard in childboards %}
                <!-- one board -->
                <li class="list-group-item content-bg">
                  <div class="row w-100">
                  <div class="col-2 col-md-1 pl-3 fc-g text-center"><i class="{% if not unread_board(childboard.id) %}text-success{% endif %} fas fa-comment fa-2x"></i></div>
                  <div class="col-10 col-md-5">
                    <div class="row">
                    <div class="col-12 fs-15"><h2><a href="{{ childboard.url }}">{{ childboard.board_name | raw }}</a></h2> 
                    {% if childboard.board_description %}
                    <p class="onoff float-right"><input type="checkbox" value="0" id="checbox-board-{{ childboard.id }}" data-toggle="collapse" data-target="#board-{{ childboard.id }}" aria-expanded="true" aria-controls="board-{{ childboard.id }}"><label for="checbox-board-{{ childboard.id }}"></label></p>
                    {% endif %}
                    </div>
                    <div class="col-12 fs-12 collapse" id="board-{{ childboard.id }}">{{ childboard.board_description | raw }}</div>
                    </div>
                  </div>
                  <div class="col-2 m-auto d-none d-md-block text-center">
                  <span class="badge fs-15 px-4"> <i class="fas fa-comments"></i> 
                  {{ childboard.plots_number }} / <i class="fas fa-comment-dots"></i> {{ childboard.posts_number }}</div>
                  <div class="col-3  my-auto d-none d-md-block">
                  </span>
                    <div class="row text-center fs-12">
                    {% if board.last_post_url %}
                    <div class="col-12"><a href="{{ childboard.last_post_url }}">{{ childboard.plot_name }}</a> by 
                    <a href="{{ last_post_author_url }}"> {{ childboard.last_post_author | raw }}</a></div>
                    <div class="col-12"><i class="far fa-clock"></i> {{ childboard.created_at }}</div>
                    {% else %}
                    <div class="col-12"> - </div>
                    {% endif %}
                    </div>
                    </div>
                  </div>
                </li>
                <!-- /one board -->
               {% endfor %}         
                </ul>
            </div>
            
            {% endif %}
            <div class="card-header my-2">
				<div class="float-left"><h2>{{ trans('plots') }}</h2></div>
			</div>
				<div class="card-body px-0 py-1" id="board-1">
					<ul class="list-group list-group-flush">
						<!-- board legend -->
						<li class="list-group-item bg-white">
						<div class="row w-100 fs-10b">
							<div class="col-1 col-md-1"></div>
							<div class="col-6 col-md-5">{{ trans('Topic') }} / {{ trans('Author') }}</div>	
							<div class="col-4 col-md-2 text-center">{{ trans('replys') }} / {{ trans('Views') }}</div>
							<div class="col-2 d-none d-md-block text-center">{{ trans('Rating') }}</div>
							<div class="col-2 d-none d-md-block text-center">{{ trans('Last post') }}</div>
						</div>
						</li>
						{% for plot in board.plots %}
						{% if plot.hidden == 0 or auth.admin %}
						<!-- one plot -->
						<li class="list-group-item bg-light">
						<div class="row w-100">
							<div class="col-1 col-md-1">
							{% if plot.locked %}
								<i class="fas fa-lock text-danger" data-toggle="tooltip" data-placement="top" title="{{ trans('locked') }}"></i>
							{% else %}
								<i class="{%  if not unread_plot(plot.id) %}text-success{% endif %} fas fa-file"></i>
							{% endif %}
							{% if plot.hidden %}
								<span class="badge badge-info mx-2" data-toggle="tooltip" data-placement="top" title="{{ trans('hidden') }}"><i class="far fa-eye-slash"></i></span>
							{% endif %}
							</div>
							<div class="col-6 col-md-5">
								<div class="row">
									<div class="col-12"><h2><a href="{{ plot.url }}">{{ plot.plot_name }}</a></h2></div>
									<div class="col-12 fs-12">{{ trans('by') }} <a href="{{ plot.user_url }}">{{ plot.username_html | raw }}</a></div>
								</div>
							</div>	
							<div class="col-4 col-md-2 text-center">{{ plot.all_posts }} / {{ plot.views }}</div>
							<div class="col-2 d-none d-md-block text-center">
							{% for i in 1..5 %}
								{% set starClass = (plot.stars >= i ? "fas fa-star" : "far fa-star")  %}
								<i class="{{ starClass }}"></i>
							{% endfor %}
							
							</div>
							<div class="col-2 d-none d-md-block text-center">
								<div class="row text-center fs-12">
									<div class="col-12"><a href="{{ plot.last_post_autor_url }}">{{ plot.last_post_autor | raw }}</a></div>
									<div class="col-12"><i class="far fa-clock"></i> {{  plot.last_post_date }}</div>
								</div>
							</div>

						</div>
						</li>
						<!-- /one plot -->	
						{% endif %}
						{% endfor %}
					</ul>

				</div>
				
									<!-- paginator -->
	{% include 'templates/partials/pagination.twig' %}	
	<!-- /paginator -->
				
		</div>	
		<!-- / Board -->	
	</div>
    </div>
    </div>
	<!-- /main board -->
	</div>

{% endblock %}

{% block endcontent %}
<script>

var urlFor = " urlFor('auth.hint') ";
console.log(urlFor);

</script>

{% endblock %}