{% extends 'templates/main.twig' %}

{% block content %}

	<div class="row">

	<!-- main board -->
	<!-- new plot button -->
	<div class="col-lg-12 order-0 my-2">
		<a class="btn btn-secondary float-right" href="{{ new_plot }}" role="button">{{ trans('Start new plot') }}</a>
	</div>
	<div class="col-lg-12 order-2 my-2">
		<a class="btn btn-secondary float-right" href="{{ new_plot }}" role="button">{{ trans('Start new plot') }}</a>
	</div>
	<!-- new plot button -->
	<div class="col-lg-12 order-1">		
		<!-- Category Board -->
				
		<div class="card border-light">
			<div class="card-header">
				<div class="float-left"><h1><i class="fas fa-clipboard-list"></i> {{ board_name }}</h1></div>
				<div class="float-right"><a href="#">Mark as read</a> | <a href="#">Subscribe this Board</a></div>
			</div>
				<div class="card-body px-0 py-1" id="board-1">
					<ul class="list-group list-group-flush">
						<!-- board legend -->
						<li class="list-group-item bg-white">
						<div class="row w-100 fs-10b">
							<div class="col-1 col-md-1"></div>
							<div class="col-6 col-md-5">Topic / Author</div>	
							<div class="col-4 col-md-2 text-center">Replies / Views</div>
							<div class="col-2 d-none d-md-block text-center">Rating</div>
							<div class="col-2 d-none d-md-block text-center">Last post</div>
						</div>
						</li>
						{% for plot in board.plots %}
						<!-- one plot -->
						<li class="list-group-item bg-light">
						<div class="row w-100">
							<div class="col-1 col-md-1"><i class="fas fa-file"></i></div>
							<div class="col-6 col-md-5">
								<div class="row">
									<div class="col-12"><h2><a href="{{ plot.url }}">{{ plot.plot_name }}</a></h2></div>
									<div class="col-12 fs-12">{{ trans('by') }} <a href="{{ plot.user_url }}">{{ plot.username_html | raw }}</a></div>
								</div>
							</div>	
							<div class="col-4 col-md-2 text-center">{{ plot.all_posts }} / {{ plot.views }}</div>
							<div class="col-2 d-none d-md-block text-center">
							{% for i in 1..5 %}
								{% set starClass = (plot.stars >= i ? "fas fa-star" : "far fa-star")  %}
								<i class="{{ starClass }}"></i>
							{% endfor %}
							
							</div>
							<div class="col-2 d-none d-md-block text-center">
								<div class="row text-center fs-12">
									<div class="col-12"><a href="{{ plot.last_post_autor_url }}">{{ plot.last_post_autor | raw }}</a></div>
									<div class="col-12"><i class="far fa-clock"></i> {{  plot.last_post_date }}</div>
								</div>
							</div>

						</div>
						</li>
						<!-- /one plot -->	
						{% endfor %}
					</ul>

				</div>
				
									<!-- paginator -->
	{% include 'templates/partials/pagination.twig' %}	
	<!-- /paginator -->
				
		</div>	
		<!-- / Board -->	
	</div>
	<!-- /main board -->
	</div>

{% endblock %}

{% block endcontent %}
<script>

var urlFor = " urlFor('auth.hint') ";
console.log(urlFor);

</script>

{% endblock %}