{% extends 'templates/main.twig' %}

{% block content %}
<div class="row">
{% include 'templates/partials/modules.twig' %}
  <!-- main board -->
  
  <div class="col-lg order-sm-2 order-1">
    
    <!-- Category Board -->
    
    <div class="card border-light mb-3">
      <div class="card-header text-center">
        <h1><i class="fas fa-clipboard-list"></i> {{ category.name }}</h1>
      </div>
        <div class="card-body px-0 py-1" id="board-1">
          <ul class="list-group list-group-flush">
            <!-- board legend -->
            <li class="list-group-item bg-white">
            <div class="row w-100 fs-10b">
            <div class="col-md-1"></div>
            <div class="col-12 col-md-5">{{ trans('Board') }}</div>
            <div class="col-3 d-none d-md-block text-center">{{ trans('Threads') }} / {{ trans('Posts') }}</div>
            <div class="col-3 d-none d-md-block text-center">{{ trans('Last post') }}</div>
            </div>
            </li>
			
			{% for board in boards %}
            <!-- one board -->
            <li class="list-group-item bg-light">
              <div class="row w-100">
              <div class="col-2 col-md-1 pl-3 fc-g text-center"><i class="fas fa-comment fa-2x"></i></div>
              <div class="col-10 col-md-5">
                <div class="row">
                <div class="col-12 fs-15"><h2><a href="{{ board.url }}">{{ board.board_name }}</a></h2></div>
                <div class="col-12 fs-12">{{ board.board_description | raw }}</div>
                </div>
              </div>
              <div class="col-2 mx-auto d-none d-md-block text-center">{{ board.plots_number }} / {{ board.posts_number }}</div>
              <div class="col-3 d-none d-md-block">
                <div class="row text-center fs-12">
				{% if board.last_post_url %}
				<div class="col-12"><a href="{{ board.last_post_url }}">{{ board.plot_name }}</a> by 
				<a href="{{ last_post_author_url }}"> {{ board.last_post_author | raw }}</a></div>
				<div class="col-12"><i class="far fa-clock"></i> {{ board.created_at }}</div>
				{% else %}
				<div class="col-12"> - </div>
				{% endif %}
				</div>
                </div>
              </div>
              </div>
            </li>
            <!-- /one board -->
           {% endfor %}
            <!-- /one board -->            
          </ul>
        </div>
    </div>
    
    <!-- /Category Board -->


</div>
{% endblock %}