{% extends 'templates/main.twig' %}

{% block headblock %}

{% endblock %}

{% block content %}
<!-- main row -->
{% if auth.check %}
<div class="row">
{% include 'templates/partials/modules.twig' %}

	<div id="newPlot" class="col-lg order-1">
			<div class="card border-light">
			<div class="card-header">
				<div class="float-left"><h1><i class="fas fa-pencil-alt"></i> {{ trans('Starting new plot') }}</h1></div>
			</div>
			<div class="card-body px-3 py-3" id="board-1">
			 <div class="form-group">
				<label for="PlotTopic">{{ trans('Topic') }}</label>
				<input id="newPlotTopic" type="text" class="form-control" id="PlotTopic" aria-describedby="topicHelp" placeholder="{{ trans('enter topic') }}">
			  </div>
				<textarea id="newPlotEditor"></textarea>
				<input type="hidden" id="BoardID" value="{{ board_id }}">
				<div class="col-lg-12 py-3">
				<button id="goback" type="button" class="btn btn-outline-secondary float-left">Go back</button>
				<button id="startnewplot" type="button" class="btn btn-outline-success float-right">Post!</button>
				</div>
			</div>
		</div>		
	</div>
</div>
{% else %}
{{ trans('You have to log in') }}
{% endif %}
<!-- /main row -->
{% endblock %}

{% block endcontent %}
<link rel="stylesheet" href="{{ base_url() }}/public/css/jodit.min.css">
<script src="{{base_url() }}/public/scripts/jodit.min.js"></script>
<script>
var ajaxUrl = "{{ path_for('board.newPlotPost') }}";

var editor = new Jodit('#newPlotEditor', {
    autofocus: true,
	height: "280",
	toolbarAdaptive: false,
	allowResizeX: false,
    allowResizeY: false
});

function postReply(){
	
	var csrfName = $('#csrf_name').val();
	var csrfValue = $('#csrf_value').val();
	
		$.ajax({
		  type: "POST",
		  url: ajaxUrl,
		  data: { 
		  'topic': 	$('#newPlotTopic').val(),
		  'content': $('#newPlotEditor').val(),
		  'board_id': $('#BoardID').val(),
		  "csrf_name" : csrfName,
		  "csrf_value" : csrfValue
		  
		  },
		  dataType: 'json',
		  error: function(mydata){
			console.log(mydata);
		  },
		  success: function(mydata){					
			$('#csrf_name').val(mydata['csrf']['csrf_name']);
			$('#csrf_value').val(mydata['csrf']['csrf_value']);
			if(mydata.redirect)
				window.location.replace(mydata.redirect);
			if(mydata.warn)
				$('.card-header').after(mydata.warn);
				setTimeout(function(){ $('.alert').fadeOut(); }, 5000);
				setTimeout(function(){ $('.alert').remove(); }, 5600);
		  }
		});	
}


$( "#startnewplot" ).click(function() {
		postReply();
});


 $('#goback').click(function(){
        parent.history.back();
        return false;
    });

</script>


{% endblock %}