{% extends 'templates/main.twig' %}

{% block headblock %}

{% endblock %}

{% block content %}

	<div class="row">
	{% include 'templates/partials/modules.twig' %}
	<!-- main row -->
	
	<div id="posts" class="col-lg order-1">
	 <div class="row">
    {% include 'templates/partials/inside-modules.twig' %}
    <div class="col order-1">		
		<!-- Main Plot -->
		<!-- paginator -->
		{% include 'templates/partials/pagination.twig' %}	
		<!-- /paginator -->
		<div class="card my-2" >
		  <div class="card-header">
			<strong>{% if locked %}<i class="fas fa-lock text-danger mx-2" data-toggle="tooltip" data-placement="top" title="{{ trans('locked') }}"></i> {% endif %}
                    {% if hidden %}<i class="far fa-eye-slash text-info mx-2" data-toggle="tooltip" data-placement="top" title="{{ trans('hidden') }}"></i> {% endif %}
                    {{ title }}
            </strong>{% if auth.admin %} 
			<button type="button" class="btn btn-outline-warning btn-sm float-right mx-2" data-toggle="modal" data-target="#editPlotModal">
			  {{ trans('edit') }}
			</button>
			
			<!-- Modal -->
			<div class="modal fade" id="editPlotModal" tabindex="-1" role="dialog" aria-labelledby="editPlotModalLabel" aria-hidden="true">
			  <div class="modal-dialog" role="document">
			  <form method="post" action="{{ path_for('board.lock.plot') }}">
				<div class="modal-content">
				  <div class="modal-header">
					<h5 class="modal-title" id="editPlotModalLabel">{{ trans('edit') }}: {{ title }}</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					  <span aria-hidden="true">&times;</span>
					</button>
				  </div>
				  <div class="modal-body">
					
						<div class="control-group">
							<input type="hidden" name="id" value="{{ plot.plot_id }}">
							<div class="form-group">
								<input type="text" name="plot_name" class="form-control" aria-describedby="plotNameHelp" id="plot_name" value="{{ title }}">
								<small id="plotNameHelp" class="form-text text-muted">{{ trans('edit plot name') }}.</small>
							</div>
							<div class="form-group">
							<label for="boardSelect">{{ trans('board') }}</label>
							<select class="form-control" id="boardSelect" name="board_select">
							  {% for boardSelect in board_list %}
							  <option value="{{ boardSelect.id }}" {% if boardSelect.id == plot.board_id %}selected{% endif %}>{{ boardSelect.board_name }}</option>
							  {% endfor %}
							</select>
						  </div>
							<div class="row">
								<div class="col-auto">
									<label class="control control-checkbox" for="hidden">{{ trans('hidden') }}
										<input type="checkbox" id="hidden" name="hidden" {% if hidden %}checked{% endif %}>
										 <div class="control_indicator"></div>
									</label>
								</div>
								<div class="col-auto">	
									<label class="control control-checkbox" for="lock">{{ trans('locked') }}
										<input type="checkbox" id="lock" name="lock" {% if locked %}checked{% endif %}>
										 <div class="control_indicator"></div>	
									</label>
								</div>
							</div>
						</div>		
					
				  </div>
				  <div class="modal-footer">
					<button type="submit" class="btn btn-success">{{ trans('submit') }}</button>
				  </div>
				</div>
				</form>
			  </div>
			</div>
				{% endif %}
		  </div>
		 </div>		
		{% for post in plot.posts %}
			{% include 'templates/partials/boxes/onePost.twig' %}	
		{% endfor %}
	<!-- paginator -->
	{% include 'templates/partials/pagination.twig' %}	
	<!-- /paginator -->
	</div>	
    
	<!-- /Main Plot -->	
	{% if auth.check and locked == 0 or auth.admin   %}
	<!-- Quick Reply -->
	<div class="col-lg-12 order-2">
		<div id="accordion">
		    <div class="card mb-2">
				<div class="card-header" id="headingTwo">
				  <h5 class="mb-0" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
					
					  {{ trans('Quick reply') }}
					
				  </h5>
				</div>
				<div id="collapseTwo" class="collapse " aria-labelledby="headingTwo" data-parent="#accordion">
				  <div class="card-body pb-0">
					 <input type="hidden" id="plot" value="{{ plot.plot_id }}">
					 <textarea id="quickReply" name="editor"></textarea>
					 {{ csrf.field | raw }}
					 <p class="mt-3 text-right"><button id="quickReply-btn" type="button" class="btn btn-light">{{ trans('send post') }}</button></p>
				  </div>
				</div>
			</div>
		</div>
	</div>
	{% else %}
	</div>
    </div>
	<!-- /Quick Reply -->	
	{% endif %}
	
	<!-- /main row -->

		
	</div>

{% endblock %}
{% block endcontent %}
<!-- Modal report post -->
<div class="modal fade" id="RaportModal" tabindex="-1" role="dialog" aria-labelledby="RaportModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
	<div class="modal-content text-center ">
	  <div class="modal-header bg-light">
		<h5 class="modal-title " id="RaportModal">{{ trans('Raport Post') }}</h5>
		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
		  <span aria-hidden="true">&times;</span>
		</button>
	  </div>
	  <div class="modal-body">
		<form action="#" method="post">
			<div class="input-group">
			  <select class="custom-select" id="inputGroupSelect04" aria-label="Example select with button addon">
				{% for reason in reasons %}
				<option value="{{reason.id}}">{{ trans(reason.reason) }}</option>
				{% endfor %}
			  </select>
			  <div class="input-group-append">
				<button class="btn btn-outline-secondary" type="button">Report</button>
			  </div>
			</div>
		</form>
	  </div>

	</div>
  </div>
</div>
<!-- Modal report post -->
{% if auth.check %}

	<!-- Modal edit post -->
	<div class="modal fade" id="editPost" tabindex="-1" role="dialog" aria-labelledby="editPost" aria-hidden="true">
	  <div class="modal-dialog" role="document">
		<div class="modal-content text-center ">
		  <div class="modal-header bg-light">
			<h5 class="modal-title " id="editPost">{{ trans('Edit Post') }}</h5>
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
			  <span aria-hidden="true">&times;</span>
			</button>
		  </div>
		  <div class="modal-body">
			<form id="editPostForm" action="#" method="post">

				<div class="input-group text-left">
					<input type="hidden" id="editPlotID" value="">
					<textarea id="editPostJodit" name="editor"></textarea>
					</div>
					{% if auth.admin > 1 %}
					<div class="row mt-2">
						<div class="col">
						<div class="control-group text-left ">
							<label class="control control-checkbox" for="hidePost">{{ trans('hide post') }}
								<input type="checkbox" id="hidePost" name="hide">
								<div class="control_indicator mt-1"></div>
							</label>
						</div>
						</div>
						<div class="col">
							<button id="post-edit-btn" type="button" class="btn btn-light float-right my-auto">{{ trans('submint edit') }}</button>
						</div>
					</div>
					{% endif %}

				 

			</form>
		  </div>

		</div>
	  </div>
	</div>
	<!-- Modal edit post -->

{% endif %}
<link rel="stylesheet" href="{{ base_url() }}/public/css/jodit.min.css">
<script src="{{base_url() }}/public/scripts/jodit.min.js"></script>
<script src="{{base_url() }}/public/scripts/plot.js"></script>
<script>
var urlForReply = "{{ path_for('board.replyPost') }}";
var urlEditPost = "{{ path_for('board.edit') }}";
var likePost = "{{ path_for('board.likeit') }}";
</script>
{% endblock %}