<title>{{ main_title }}{% if title %} - {{ title }}{% endif %}</title>
<link rel="canonical" href="{{ canonical }}">
<meta charset="utf-8">
<link rel="stylesheet" href="{{ assets }}/css/all.min.css">
<link rel="stylesheet" href="{{ assets }}/css/v4-shims.css">
{{ css.main }}
{{ css.second }}