<header>
<a href="{{ path_for('home') }}">
	<i class="fas fa-home"></i> MyBoard
</a>

<ul>
{% if auth.check %}	
	<li>
		<a href="#">
			<img src="{{ user.avatar }}">
		</a>
		<a href="#" >
			<strong>{{ auth.user.username }}</strong> <i class="fas fa-caret-down"></i>
		</a>
		<ul >
			<li class="title">Zawartość</li>
			<li><a href="{{ base_url() }}/user/{{ setString.toUrl(auth.user.username) }}/{{ auth.user.id }}"><i class="fas fa-user"></i> Profil</a></li>
			<li><a href="#"><i class="fas fa-link"></i> Moje załączniki</a></li>
			<li class="title">Ustawienia</li>
			<li><a href="#"><i class="fas fa-eye"></i> Obserwowana zawartość</a></li>
			<li><a href="#"><i class="fas fa-cog"></i> Ustawienia konta</a></li>
			{% if auth.admin > 0 %}
			<li >Admin</li>
			<li><a href="{{ path_for('admin.home') }}"><i class="fas fa-user-cog"></i> ACP</a></li>
			{% endif %}
			<li ></li>
			<li><a href="{{ path_for('auth.signout') }}"><i class="fas fa-power-off"></i> {{ trans('Log out') }}</a></li>
		</ul>
	</li>
{% else %}
<li>
	<ul>
		<li>
		<a href="{{ path_for('auth.signin') }}">
			<i class="fas fa-sign-in-alt"></i> {{ trans('Sign in') }}</a>
		</a>
		</li>
		<li>
			<a href="{{ path_for('auth.signup') }}">
				<i class="fas fa-user-plus"></i> {{ trans('Sign up') }}</a>
			</a>
		</li>						
	</ul>
</li>

		
{% endif %}{# if auth.check #}
</ul>
			</div>
		</div>
	</div>
</header>
<hr />