{% extends 'templates/main.twig' %}

{% block content %}
<br /> 
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card panel-default">
                <div class="card-header">{{ trans('two factor auth') }}</div>
                <div class="card-body">
                    <form action="{{ path_for('auth.signin') }}" method="post">
                        <div class="form-group">
                            <label for="tfa">{{ trans('two factore code') }}</label>
                            <input type="text" name="tfa" id="tfa" class="form-control" aria-describedby="tfaHelp" >
                            <small id="tfaHelp" class="form-text text-muted"><a href="{{ path_for('auth.signin.tfa', {'mail': 1}) }}">{{ trans('application not working? Click here!') }}</a></small>
                        </div>
                            <input type="hidden" name="login" id="login" value="{{ username }}" >
                        <button type="submint" class="btn btn-dark">{{ trans('Sign in') }}</button>
                        
                        
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}