		<!-- chat -->
		<div class="card border-light mb-3">
		  <div class="card-header"><i class="far fa-comments"></i> <strong>Chat</strong>
				<p class="onoff float-right"><input type="checkbox" value="0" id="checkboxID" data-toggle="collapse" data-target="#collapseChat" aria-expanded="true" aria-controls="collapseChat"><label for="checkboxID"></label></p>
		  </div>
		  <div class="collapse show" id="collapseChat">
		  <div class="chatbox card-body">
		  
				<ul id="shouts" class="list-group list-group-flush">	
				 {% for shout in chatbox %}
					{% include 'templates/partials/boxes/oneShout.twig' %}
				 {% endfor %}  
				<span id="chatend"></span>
			</ul>
		  
		  <div class="input-group mb-3">
		  <input id="shout-content" type="text" class="form-control chatbox-input" placeholder="{% if auth.check == false %}{{ trans('you have to sign in to chat') }}{% else %}{{ trans('Enter your message here:') }}{% endif %}" aria-describedby="button-chatbox" {% if auth.check == false %}disabled{% endif %}>
		  <input id="sav" type="hidden" value="{{ auth.user.avatar }}">
		  <input id="suid" type="hidden" value="{{ auth.user.id }}">
		  <input id="sname" type="hidden" value="{{ auth.user.username }}">
		  <div class="input-group-append">
			<button class="btn btn-outline-secondary chatbox-input {% if auth.check == false %}disabled{% endif %}" type="button" id="button-chatbox">{{ trans('send') }}  <i class="far fa-paper-plane"></i></button>
		  </div>
		  
		</div>  
		</div>
		  
		</div>
	</div>
		<script>
			var urlForChatbox = "{{ path_for('postChatbox') }}" 
			var urlForLoadMessages = "{{ path_for('loadChatbox') }}" 
			var urlForChatboxNew = "{{ path_for('checkNewMessage') }}"  
            var urlForEditMessage = "{{ path_for('editMessage') }}" 
		</script>
		<!-- /chat -->
{% if auth.check %}
<!-- Modal -->
<div class="modal fade" id="chatMessageEdit" tabindex="-1" role="dialog" aria-labelledby="chatMessageEditLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="chatMessageEditLabel">{{ trans('edit shout') }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <input id="shout_edit_id" type="hidden" name="shout_id">
        <input id="shout_edit_content" type="text" class="form-control" name="shout_content" value="">
      </div>
      <div class="modal-footer">
        <button id="button-chatbox-edit" type="submit" class="btn btn-primary">{{ trans('submit') }}</button>
      </div>
    </div>
  </div>
</div>	
{% endif %}