		<!-- chat -->
		<div class="card border-light mb-3">
		  <div class="card-header"><i class="far fa-comments"></i> <strong>Chat</strong>
				<p class="onoff float-right"><input type="checkbox" value="0" id="checkboxID" data-toggle="collapse" data-target="#collapseChat" aria-expanded="true" aria-controls="collapseChat"><label for="checkboxID"></label></p>
		  </div>
		  <div class="collapse show" id="collapseChat">
		  <div class="chatbox card-body">
		  
				<ul id="shouts" class="list-group list-group-flush">	
				 {% for shout in chatbox %}
					{% include 'templates/partials/boxes/oneShout.twig' %}
				 {% endfor %}  
				<span id="chatend"></span>
			</ul>
		  
		  <div class="input-group mb-3">
		  <input id="shout-content" type="text" class="form-control chatbox-input" placeholder="{% if auth.check == false %}{{ trans('you have to sign in to chat') }}{% else %}{{ trans('Enter your message here:') }}{% endif %}" aria-describedby="button-chatbox" {% if auth.check == false %}disabled{% endif %}>
		  <input id="sav" type="hidden" value="{{ auth.user.avatar }}">
		  <input id="suid" type="hidden" value="{{ auth.user.id }}">
		  <input id="sname" type="hidden" value="{{ auth.user.username }}">
		  <div class="input-group-append">
			<button class="btn btn-outline-secondary chatbox-input {% if auth.check == false %}disabled{% endif %}" type="button" id="button-chatbox"><i class="far fa-paper-plane"></i></button>
		  </div>
		  
		</div>  
		</div>
		  
		</div>
		<script>
			var urlForChatbox = "{{ path_for('postChatbox') }}" 
			var urlForLoadMessages = "{{ path_for('loadChatbox') }}" 
			var urlForChatboxNew = "{{ path_for('checkNewMessage') }}"  
		</script>
		<!-- /chat -->