
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" href="{{ assets }}/img/favico.png"/>

    <title>{{ main_title }}{% if title %} - {{ title }}{% endif %}</title>

    <link rel="canonical" href="{{ canonical }}">
	<!-- Dark Mode
	================================================== -->
	<script src="{{ assets }}/scripts/dark-mode-init.min.js"></script>
	<link href="{{ assets }}/css/dark-mode.css" rel="stylesheet">
	{{ skin_assets.css.loader|raw }}
   
