
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title>{{ main_title }}{% if title %} - {{ title }}{% endif %}</title>

    <link rel="canonical" href="{{ canonical }}">

    <!-- Bootstrap core CSS -->
    <link href="{{ assets }}/css/bootstrap.min.css" rel="stylesheet">
	<link href="{{ assets }}/css/all.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
	<link href="{{ assets }}/css/dropzone.css" rel="stylesheet">
    {{ skin_assets.css.main|raw }}
