<!-- navigation -->
    <nav class="navbar navbar-expand-md navbar-light bg-light fixed-top px-lg-5">
      <span class="navbar-brand mb-0 h1"><i><a href="{{ path_for('home') }}">BOARDS Script</a></i></span>{% if boards_off and auth.admin > 0 %}
<div class="position-fixed"><span class="badge badge-pill badge-info">Podglą nieaktywnego forum</span></div>
{% endif %}

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    
      </button>
    

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
    {% for link in menus %}
      <li class="nav-item">

            <a class="nav-link" href="{{ link.url }}">{{ link.name|raw }}</a>

          </li>
    {% endfor %}
       <li class="nav-item">
        <a class="nav-link" href="boards.rar"><i class="fas fa-download"></i> Download</a>
       </li>
        </ul>
    <ul class="navbar-nav">
      <li class="nav-item" >
        <a href="#" class="nav-link pl-4">
         <span class="onoff"><input  type="checkbox" value="0" id="darkSwitch"><label for="darkSwitch"></label></span>
         <span class="m-auto"><i class="fas fa-moon"></i></span>
        </a>
      </li>
      {% if auth.check %}
      <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle dropdown" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> {{ auth.user.username }} </a>
            <div class="dropdown-menu dropdown-menu-right" style="position:absolute; margin-left: 15px" aria-labelledby="dropdown01">
              <a class="dropdown-item" href="{{ base_url() }}/user/{{ setString.toUrl(auth.user.username) }}/{{ auth.user.id }}">Dashboard</a>
              <a class="dropdown-item" href="{{ path_for('auth.signout') }}">{{ trans('Log out') }}</a>
        {% if auth.admin %}
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="{{ path_for('admin.home') }}">ACP</a>
      {% endif %}
            </div>
          </li>
      {% else %}
          <li class="nav-item">
            <a class="nav-link" href="#" data-toggle="modal" data-target="#LoginModal"><i class="fas fa-sign-in-alt"></i> {{ trans('Sign in') }}</a>
          </li>
      <li class="nav-item">
            <a class="nav-link" href="{{ path_for('auth.signup') }}"><i class="fas fa-user-plus"></i> {{ trans('Sign up') }}</a>
          </li>
      {% endif %} 
        </ul>
        
      </div>
    </nav>
  
  
<!-- /navigation -->