{% if paginator.numPages > 1 %}
<nav aria-label="Page navigation example">
    <ul class="pagination">
        {% if paginator.prevUrl %}
            <li class="page-item"><a class="page-link" href="{{ paginator.prevUrl }}">&laquo; Previous</a></li>
        {% endif %}

        {% for page in paginator.pages %}
            {% if page.url %}
                <li class="page-item{{ page.isCurrent ? ' active"' : '"' }}><a class="page-link" href="{{ page.url }}">{{ page.num }}</a></li>
            {% else %}
                <li class="class="page-item disabled"><span>{{ page.num }}</span></li>
            {% endif %}
        {% endfor %}

        {% if paginator.nextUrl %}
            <li class="page-item"><a class="page-link" href="{{ paginator.nextUrl }}">Next &raquo;</a></li>
        {% endif %}
    </ul>
</nav>
{% endif %}
