{% extends 'templates/main.twig' %}

{% block content %}
	<!-- hero -->
      <div class="jumbotron jumbotron-fluid">
		  <div class="container text-right">
			<h1 class="display-4 fc-w"><strong>Witamy na S89.EU</strong></h1>
			<p class="lead">Sieci serwerów tworzonej z pasji do gry!</p>
		  </div>
	</div>
	<!-- /hreo -->
	
		<!-- plugin example -->
	{{ plugin_serverlist | raw}}
	
	<!-- /plugin example -->
	
	<!-- main row-->
	<div class="row">
	
	<div class="col-lg-3 order-2 d-none d-sm-block">
	
	<!-- module -->
	<div class="card border-0 mb-3">
		  <div class="card-header border-0"><i class="fa fa-bullhorn ico-bg"></i> {{ trans('Announcements') }} </div>
		  <div class="card-body content-bg">
			<h5 class="card-title">Ogłoszenia</h5>
			<p class="card-text">Serwery DD2 i Mirage Inferno Nuke są już dostępne!.</p>
		  </div>
	</div>
	<!-- /module -->
	
	<!-- module
	<div class="card border-0 mb-3">
		  <div class="card-header border-0"><i class="fas fa-folder-open ico-bg"></i> Ostanie posty:</div>
		  <div class="card-body content-bg px-2 my-1">
			<div class="card-text row">
			<div class="col-3 m-auto"><img src="img/avatar.png" class="rounded-circle mx-auto d-block chat-av" alt="username"></div>
			<div class="col-6 m-auto">
				<p class="fs-12b my-0 p-0">Post 1</p>
				<p class="fs-12 my-0 p-0">Przez: <strong>admin</strong></p>
				<p class="fs-10 my-0 p-0">Napisany: 3h temu</p>
			</div>
			<div class="col-3  m-auto"><span class="badge">5</span></div>
			</div>
		  </div>
		  
		  <div class="card-body content-bg px-2 my-1">
			<div class="card-text row">
			<div class="col-3 m-auto"><img src="img/avatar.png" class="rounded-circle mx-auto d-block chat-av" alt="username"></div>
			<div class="col-6 m-auto">
				<p class="fs-12b my-0 p-0">Post 1</p>
				<p class="fs-12 my-0 p-0">Przez: <strong>admin</strong></p>
				<p class="fs-10 my-0 p-0">Napisany: 3h temu</p>
			</div>
			<div class="col-3  m-auto"><span class="badge">5</span></div>
			</div>
		  </div>
		  
		  <div class="card-body content-bg px-2 my-1">
			<div class="card-text row">
			<div class="col-3 m-auto"><img src="img/avatar.png" class="rounded-circle mx-auto d-block chat-av" alt="username"></div>
			<div class="col-6 m-auto">
				<p class="fs-12b my-0 p-0">Post 1</p>
				<p class="fs-12 my-0 p-0">Przez: <strong>admin</strong></p>
				<p class="fs-10 my-0 p-0">Napisany: 3h temu</p>
			</div>
			<div class="col-3  m-auto"><span class="badge">5</span></div>
			</div>
		  </div>
	</div>
	<!-- /module -->
	
	<!-- module user stats -->
	{% if auth.check %}
	{% set id = auth.user.id %}
	<div class="card border-0 mb-3">
		  <div class="card-header border-0"><i class="fas fa-user-tag ico-bg"></i> {{ trans('Your statistics') }}</div>
		  <div class="card-body content-bg px-2">			
			<img src="{% if auth.user.avatar %}{{ base_url() }}/cache/img/{{ auth.user._150 }}{% else %}{{ base_url() }}/public/img/avatar.png{% endif %}" class="rounded-circle mx-auto d-block stat-av" alt="{{ auth.user.username }}">
			<p class="text-center"><b>{{userActivity(id).username}}</b></p>
			<ul class="list-group list-group-flush">
				 <li class="list-group-item py-1">{{ trans('Group') }}: <span class="float-right">{{userData(id).group_name | raw}}</span></li>
				 <li class="list-group-item py-1">{{ trans('Reputatnion') }}: <span class="float-right">{{userActivity(id).reputation}}</span></li>
				 <li class="list-group-item py-1">{{ trans('Posts') }}: <span class="float-right">{{userActivity(id).posts}}</span></li>
				 <li class="list-group-item py-1">{{ trans('My IP') }}: <span class="float-right"><b>Hidden</b></span></li>
				 <li class="list-group-item py-1">{{ trans('Last visit') }}: <span class="float-right">{{ auth.user.updated_at }}</span></li>
			</ul>
		  </div>
	</div>
	{% endif %}
	<!-- /module user stats -->
	

	</div>
	
	<!-- /right module -->
	<!-- main board -->
	
	<div class="col-lg-9 order-1"> 
		<!-- chat -->
		{% include 'templates/partials/chatbox.twig' %}
		<!-- /chat -->
				
		<!-- board -->
		{% for category in categories %}
		<div class="card border-0 mb-3">
			<div class="card-header border-0"><i class="fas fa-clipboard-list ico-bg"></i> <a href="{{ base_url()}}/category/{{ setString.toUrl(category.name) }}/{{ category.cat_id }}">{{ category.name|raw }}</a>
			  <p class="onoff float-right"><input type="checkbox" value="0" id="checbox-board-{{ category.cat_id }}" data-toggle="collapse" data-target="#board-{{ category.cat_id }}" aria-expanded="true" aria-controls="board-{{ category.cat_id }}"><label for="checbox-board-{{ category.cat_id }}"></label></p>
			</div>
				<div class="card-body border-0 px-0 py-1 collapse show" id="board-{{ category.cat_id }}">
					<ul class="list-group list-group-flush">

						<!-- one board -->
						{% for  board in category.boards if board.parent_id == 0 %}
						<li class="list-group-item content-bg my-1">
							<div class="row w-100">
							<div class="col-2 col-md-1 pl-3 fc-g text-center"><i class="fas fa-gamepad fa-2x {{ board.read }}"></i></div>
							<div class="col-7 col-md-5">
								<div class="row">
									<div class="col-12 fs-15"><a href="{{ base_url()}}/board/{{ setString.toUrl(board.board_name) }}/{{ board.id }}">{{ board.board_name|raw }}</a></div>
									{% for  childboard in board.childboard if board.childboard %} 
									<div class="col-12 fs-12">
									<a href="{{ base_url()}}/board/{{ setString.toUrl(childboard.board_name) }}/{{ childboard.id }}">
									<i class="fas fa-arrow-right"></i> {{childboard.board_name|raw}}
									</a>
									</div>
									{% endfor %}
									<div class="col-12 fs-12">{{ board.board_description|raw }}</div>
								</div>
							</div>
							<div class="col-2 my-auto d-none d-md-block"><span class="badge fs-15 px-4">{{ board.posts_no }} <i class="fas fa-comment-dots"></i></span></div>
							<div class="col-3 col-md">
							<div class="row text-justify fs-12 d-none d-md-block">
								{% set last = board.last %}
								{% if last.id %}
								<div class="col-12"><a href="{{ base_url() }}/plot/{{ setString.toUrl(last.plot_name) }}/{{ last.plot_id }}/{{ board.endpage }}#post-{{ last.id }}">{{ last.plot_name }}</a> by 
								<a href="{{ base_url() }}/user/{{ setString.toUrl(userData(last.user_id).username) }}/{{ last.user_id }}">{{ userData(last.user_id).name_html | raw }}</a></div>
								<div class="col-12"><i class="far fa-clock"></i> {{ last.created_at }}</div>
								</div>
								<div class="row text-justify fs-10 d-block d-md-none">
									<div class="col-12 fs-12"><a href="{{ base_url() }}/plot/{{ setString.toUrl(last.plot_name) }}/{{ last.plot_id }}/{{ board.endpage }}#post-{{ last.id }}"><span class="badge badge-secondary">Ostatni post</span></a></div>
									<div class="col-12"><a href="{{ base_url() }}/user/{{ setString.toUrl(userData(last.user_id).username) }}/{{ last.user_id }}">{{ userData(last.user_id).name_html | raw }}</a></div>
								{% else %}
								<div class="col-12"> - </div>
								{% endif %}
									
							</div>
							</div>
						</li>
						{% endfor %}
						<!-- /one board -->
						
					</ul>
				</div>
		</div>
		{% endfor %}
		<!-- /board -->
		
	</div>
	<!-- /main board -->
	
	
	
	<!-- boardstats -->
	<div class="col-12 order-3">
	
	<div class="card border-0 mb-3">
		<div class="card-header"><i class="fas fa-globe ico-bg"></i> {{ trans('Whos Online') }} <p class="onoff float-right"><input type="checkbox" value="0" id="checbox-board-online" data-toggle="collapse" data-target="#board-online" aria-expanded="true" aria-controls="board-online"><label for="checbox-board-online"></label></p></div>		
		<div class="card-body content-bg collapse show" id="board-online">
			<p class="card-text">{% for user in stats.online %}<a href="{{ base_url() }}/user/{{ setString.toUrl(user.username) }}/{{ user.id }}">{{ user.username_html  | raw }},</a> {% endfor %}</p>	
		</div>
	</div>
	
	</div>
	<div class="col-12 order-4">
	
	<div class="card border-0 mb-3">
		<div class="card-header"><i class="fas fa-layer-group ico-bg"></i> {{ trans('Group legend') }}:<p class="onoff float-right"><input type="checkbox" value="0" id="checbox-board-group" data-toggle="collapse" data-target="#board-group" aria-expanded="true" aria-controls="board-group"><label for="checbox-board-group"></label></p></div>		
		<div class="card-body content-bg collapse show" id="board-group">
			<p class="card-text">{% for group in groups_legend %}{{ group.group_name|raw }}, {% endfor %}</p>	
		</div>
	</div>
	
	<div class="card border-0 mb-3">
		<div class="card-header"><i class="fas fa-layer-group ico-bg"></i> Board stats <p class="onoff float-right"><input type="checkbox" value="0" id="checbox-board-stats" data-toggle="collapse" data-target="#board-group" aria-expanded="true" aria-controls="board-stats"><label for="checbox-board-stats"></label></p></div>		
		<div class="card-body content-bg collapse show" id="board-stats">
			<div class="row m-auto">
			<div class="col-6 col-md-3 text-center"><span class="badge">{{ stats.plots }}</span> {{ trans('Threads') }}</div>
			<div class="col-6 col-md-3 text-center"><span class="badge">{{ stats.posts }}</span> {{ trans('Posts') }}</div>
			<div class="col-6 col-md-3 text-center"><span class="badge">{{ stats.users }}</span> {{ trans('Members') }}</div>
			<div class="col-6 col-md-3 text-center"><span class="badge">{{ stats.lastUser.name_html|raw }}</span> {{ trans('Newest Member') }}</div>
			</div>
		</div>
	</div>
	
	</div>
	<!-- /boardstats -->
	</div>

{% endblock %}
	
	
{% block endcontent %}
<script src="{{ base_url() }}/public/js/chatbox.js"></script>
{% endblock %}
	