{% extends 'templates/main.twig' %}

{% block headblock %}
<link rel="stylesheet" href="{{ base_url() }}/public/css/jodit.min.css">
{% endblock %}

{% block content %}

	<div class="row">

	<!-- main row -->
	
	<div id="posts" class="col-lg-12 order-1">
		
		<!-- Main Plot -->
		<!-- paginator -->
		{% include 'templates/partials/pagination.twig' %}	
		<!-- /paginator -->
		<div class="card my-2" >
		  <div class="card-header">
			{{ title }}
		  </div>
		 </div>		
		{% for post in plot.posts %}
		<!-- one posts -->
		<div id="post-{{ post.id }}" class="card mb-3 content-bg">
		 <div class="card-body">
		  <div class="row mx-0">
			<div class="col-2 border-right d-none d-md-block p-2 text-center">
				<p class="fs-15b m-0"><a href="{{ base_url() }}/user/{{ setString.toUrl(userData(post.user_id).username) }}/{{ post.user_id }}">{{ userData(post.user_id).name_html|raw }}</a></p>
				<p class="fs-10b m-0 {% if userActive(post.user_id)%}fc-green{% else %}fc-g{% endif %}">{% if userActive(post.user_id) %}online{% else %}offline{% endif %}</p>
				<img src="{% if userData(post.user_id).avatar %} {{ base_url() }}/cache/img/{{userData(post.user_id)._85}}{% else %}{{ base_url() }}/public/img/avatar.png{% endif %}" class="rounded-circle mx-auto d-block post-av" alt="username">
				<div class="mx-auto w-75">
				<p class="fs-12 m-0">{{userData(post.user_id).group_name|raw}}</p><br />

				
				<p class="fs-12 m-0 fc-g "><span class="float-left">Posts:</span> <span class="float-right">{{userActivity(post.user_id).posts}}</span></p><br />
				<p class="fs-12 m-0 fc-g "><span class="float-left">Plots:</span> <span class="float-right">{{userActivity(post.user_id).plots}}</span></p><br />
				<p class="fs-12 m-0 fc-g "><span class="float-left">Join:</span> <span class="float-right"> {{userActivity(post.user_id).join}}</span></p><br />
				<p class="fs-12 m-0 fc-g "><span class="float-left">Reputatnion:</span> <span class="float-right">{{userActivity(post.user_id).reputation}}</span></p><br />
				</div>
			</div>
			
			<!-- mobile author -->
			<div class="col-md-2 d-block d-md-none px-0">
				<div class="row mx-auto">
					<div class="col-2 my-1 border-bottom border-dark">
						<img src="{% if userData(post.user_id).avatar %} {{ base_url() }}/cache/img/{{ userData(post.user_id)._85 }}{% else %}{{ base_url() }}/public/img/avatar.png{% endif %}" class="rounded-circle mx-auto d-block post-av " alt="username">
					</div>
					<div class="col-10 my-1 border-bottom border-dark">
					<p class="fs-12b mb-1"><a href="{{ base_url() }}/user/{{ setString.toUrl(userData(post.user_id).username) }}/{{ post.user_id }}">{{ userData(post.user_id).name_html|raw }}</a></p>
					<p class="fs-10 mb-1">Posted: {{ post.created_at }}</p>
					</div>
				</div>
			</div>
			<!-- /mobile author -->
			<div class="col-12 col-md-10">
			 
				<div class="d-none d-md-block card-title fs-10">Posted: {{ post.created_at }}<a <a id="report-{{ post.id }}" href="#" class="float-right raport"><i class="fas fa-exclamation-circle"></i> {{ trans('Report post') }}</a></div>
				<p class="card-text">{{ post.content|raw }}</p>
				
			  
			  
			</div>
		  </div>
		</div>
		<div class="card-footer text-muted">
				<small class="likebox float-right my-auto">
				<span class="badge badge-primary mr-3 my-auto fs-15">{{ post.reputation }} <i class="far fa-thumbs-up"></i></span>
				{% if auth.check %}<a id="like-{{ post.id }}" class="far fa-thumbs-up fa-2x likeit"></a>
				{% endif %}</small>
			  </div>
		</div>
		<!-- /one posts -->	
		{% endfor %}
	<!-- paginator -->
	{% include 'templates/partials/pagination.twig' %}	
	<!-- /paginator -->
	</div>	

	<!-- /Main Plot -->	
	{% if auth.check and locked == 0 %}
	<!-- Quick Reply -->
	<div class="col-lg-12 order-3">
		<div id="accordion">
		    <div class="card mb-2">
				<div class="card-header" id="headingTwo">
				  <h5 class="mb-0" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
					
					  {{ trans('Quick reply') }}
					
				  </h5>
				</div>
				<div id="collapseTwo" class="collapse " aria-labelledby="headingTwo" data-parent="#accordion">
				  <div class="card-body pb-0">
					 <input type="hidden" id="plot" value="{{ plot.plot_id }}">
					 <textarea id="quickReply" name="editor"></textarea>
					 {{ csrf.field | raw }}
					 <p class="mt-3 text-right"><button id="quickReply-btn" type="button" class="btn btn-light">{{ trans('send post') }}</button></p>
				  </div>
				</div>
			</div>
		</div>
	</div>	
	<!-- /Quick Reply -->	
	{% endif %}
	
	<!-- /main row -->

		
	</div>

{% endblock %}

{% block endcontent %}
<script src="{{base_url() }}/public/js/jodit.min.js"></script>
<script>
var urlForReply = "{{ urlFor('board.replyPost') }}";
var likePost = "{{ urlFor('board.likeit') }}";

var editor = new Jodit('#quickReply', {
    autofocus: true,
	height: "280",
	toolbarAdaptive: false,
	allowResizeX: false,
    allowResizeY: false
});

function postReply(){
	
	var csrfName = $('#csrf_name').val();
	var csrfValue = $('#csrf_value').val();
	
		$.ajax({
		  type: "POST",
		  url: urlForReply,
		  data: { 
		  'content': 	$('#quickReply').val(),
		  'plot_id': 	$('#plot').val(),
		  "csrf_name" : csrfName,
		  "csrf_value" : csrfValue
		  
		  },
		  dataType: 'json',
		  error: function(query){
			console.log(query);
		  },
		  success: function(mydata){					
			
			$('#csrf_name').val(mydata['csrf']['csrf_name']);
			$('#csrf_value').val(mydata['csrf']['csrf_value']);
			
			$('#posts').append(mydata['response']);
			setTimeout(function(){ $('.card.mb-3').fadeIn('slow'); }, 500);
			
		  }
		});	
}

function likeit(id){

	
	var csrfName = $('#csrf_name').val();
	var csrfValue = $('#csrf_value').val();
	
	$.ajax({
		  type: "POST",
		  url: likePost,
		  data: { 
		  'post_id': 	id,
		  "csrf_name" : csrfName,
		  "csrf_value" : csrfValue
		  
		  },
		  dataType: 'json',
		  error: function(query){
			console.log(query);
		  },
		  success: function(mydata){					
			
			$('#csrf_name').val(mydata['csrf']['csrf_name']);
			$('#csrf_value').val(mydata['csrf']['csrf_value']);
			$('#'+id).before(mydata['likeit']);
			setTimeout(function(){ $('#overlay').fadeIn('slow'); }, 200);
			setTimeout(function(){ $('#overlay').fadeOut('slow'); }, 2500);	
		  }
		});	
	
}


$( "#quickReply-btn" ).click(function() {
		postReply();
});

$('#collapseTwo').on('show.bs.collapse', function () {
  $("html, body").animate({ scrollTop: $(document).height() }, 1200);
})

function scrollToAnchor(aid){
   if(aid){
	var aTag = $("#"+aid);
    $('html,body').animate({scrollTop: aTag.offset().top-80},'slow');
	$("#"+aid).animate({opacity: '0'}, 'slow').animate({opacity: '1'}, 'slow');
	}
}
var link = window.location+'';
var data = link.split("#");

$(function() {
   setTimeout(function(){scrollToAnchor(data[1])}, 500);
   
    $("a.likeit").click(function(event) {
        likeit(event.target.id);
    });  
	 $("a.raport").click(function(event) {
        //alert(event.target.id);
		$('#RaportModal').modal('show');
    }); 
});



</script>


{% endblock %}