

<form action="#" method="post">
<input type="hidden" class="form-control" id="id" name="id" value="{{ server.id }}">
<input type="hidden" class="form-control" id="edit" name="edit" value="1">
  <div class="form-group">
    <label for="name">Nazwa</label>
    <input type="text" class="form-control" id="name" name="name" value="{{ server.name }}">
    <small id="nameHelp" class="form-text text-muted">Wyświetla się kiedy serwer jest wyłączony oraz na liście w panelu administracyjnym.</small>
  </div>
  <div class="form-group">
    <label for="game">Typ serwera</label>
    <input type="text" class="form-control" id="game" name="game" value="{{ server.game }}">
  </div>
  <div class="form-group">
    <label for="ip">ip</label>
    <input type="text" class="form-control" id="ip" name="ip" value="{{ server.ip }}">
  </div>
   <div class="form-group">
    <label for="port">port</label>
    <input type="text" class="form-control" id="port" name="port" value="{{ server.port }}">
  </div>
  <div class="form-group">
    <label for="admin">administrator</label>
    <input type="text" class="form-control" id="admin" name="admin" value="{{ server.admin }}">
    <small id="adminHelp" class="form-text text-muted">nick administratora serwera</small>
  </div>
  <button type="submit" class="btn btn-primary">{{ trans('admin.submit') }}</button> 
  <button type="button" class="btn btn-danger float-right" data-toggle="modal" data-target="#exampleModal">
  {{ trans('admin.delete') }}
</button>

</form>

<!-- Modal -->
<form action="{{ path_for('admin.plugins.ext', {'pluginName': 'ServerList'}) }}" method="post">
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Usuń serwer: {{ server.name }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Czy na pewno chcesz usunać serwer z bazy?
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-danger float-right">{{ trans('admin.delete') }}</button>
      </div>
    </div>
  </div>
</div>
<input type="hidden" class="form-control" id="id" name="id" value="{{ server.id }}">
<input type="hidden" class="form-control" id="delete" name="delete" value="1">
</form>

