Hello <strong>{{ username }}</strong><br />
Confirm email by link below:<br />
<a href="{{ url }}">{{ url }}</a><br />
or use code {{ code }} on fallowing the url:
<a href="{{ url_code }}">{{ url_code }}</a><br />