	<!-- ***Modals sections*** 
	================================================== -->
	
	<!-- Modal Login -->
	<div class="modal fade" id="LoginModal" tabindex="-1" role="dialog" aria-labelledby="LoginModal" aria-hidden="true">
	  <div class="modal-dialog" role="document">
		<div class="modal-content text-center ">
		  <div class="modal-header bg-light">
			<h5 class="modal-title " id="LoginModal">{{ trans('Sign in') }}</h5>
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
			  <span aria-hidden="true">&times;</span>
			</button>
		  </div>
		  <div class="modal-body">
			<form action="{{ path_for('auth.signin') }}" method="post">
			  <div class="form-group">
				<label for="exampleInputEmail1">{{ trans('Login or mail') }}</label>
				<input type="text" name="login" id="login" placeholder="{{ trans('mail@domain.com') }}" class="form-control {{ errors.login ? 'is-invalid' : ''}}" value="{{ old.login }}">
				
			  </div>
			  <div class="form-group">
				<label for="exampleInputPassword1">{{ trans('Password') }}</label>
				<input type="password" name="password" id="password"  class="form-control {{ errors.password ? 'is-invalid' : ''}}" value="{{ old.password }}">
			  </div>
				<div class="form-group form-check">
				<input type="checkbox" class="form-check-input" id="exampleCheck1">
				<label class="form-check-label" for="exampleCheck1">{{ trans('Remember me') }}</label>
			  </div>
				<button type="submit" class="btn btn-light">{{ trans('Sign in') }}</button>
				{{ csrf.field | raw }}
			</form>
		  </div>

		  <div class="modal-footer bg-light">
		  <small class="text-center text-muted justify-content-center"><a href="{{ urlFor('auth.forgotPassword') }}">{{ trans('Forget password')}}.</a></small>

			
		  </div>
		</div>
	  </div>
	</div>
	<!-- Modal Login -->
	
	<!-- Modal report post -->
	<div class="modal fade" id="RaportModal" tabindex="-1" role="dialog" aria-labelledby="RaportModal" aria-hidden="true">
	  <div class="modal-dialog" role="document">
		<div class="modal-content text-center ">
		  <div class="modal-header bg-light">
			<h5 class="modal-title " id="RaportModal">{{ trans('Raport Post') }}</h5>
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
			  <span aria-hidden="true">&times;</span>
			</button>
		  </div>
		  <div class="modal-body">
			<form action="#" method="post">
				<div class="input-group">
				  <select class="custom-select" id="inputGroupSelect04" aria-label="Example select with button addon">
					{% for reason in reasons %}
					<option value="{{reason.id}}">{{ trans(reason.reason) }}</option>
					{% endfor %}
				  </select>
				  <div class="input-group-append">
					<button class="btn btn-outline-secondary" type="button">Report</button>
				  </div>
				</div>
			</form>
		  </div>

		</div>
	  </div>
	</div>
	<!-- Modal report post -->
	
	
	{% if auth.admin %}
	
		<!-- Modal report post -->
		<div class="modal fade" id="editPost" tabindex="-1" role="dialog" aria-labelledby="editPost" aria-hidden="true">
		  <div class="modal-dialog" role="document">
			<div class="modal-content text-center ">
			  <div class="modal-header bg-light">
				<h5 class="modal-title " id="editPost">{{ trans('Edit Post') }} : ##post name##</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				  <span aria-hidden="true">&times;</span>
				</button>
			  </div>
			  <div class="modal-body">
				<form id="editPostForm" action="#" method="post">
					<div class="input-group text-left" style="height: 380px">
						<input type="hidden" id="editPlotID" value="">
						<textarea id="editPostJodit" name="editor"></textarea>
					  <div class="input-group-append m-auto">
						<button id="post-edit-btn" type="button" class="btn btn-light">{{ trans('submint edit') }}</button>
					  </div>
					</div>
				</form>
			  </div>

			</div>
		  </div>
		</div>
		<!-- Modal report post -->
	
	{% endif %}
	
	<!-- ***/Modals sections*** 
	================================================== -->