{% extends 'templates/main.twig' %}

{% block content %}
<main class="container">
	<div class="forums">
		<ol class="categories_list list_reset">
			{% for category in categories %}
			<li class="category">
				<h2 class="board_categoryTitle">
					<a href="{{ category.url }}">
						{{ category.name|raw }}
					</a>
					<a href="#" data-tab="item1">
						<div class="dropdown" data-tab="item{{ category.id }}"><i class="fas fa-chevron-down"></i></div>
					</a>
				</h2>
				
				<ol class="forums_list list_reset" id="item{{ category.id }}">
					{% for board in (boards[category.id]) %}
					<li class="forum">
						<div class="forum_icon">
							<i class="far fa-comments"></i>
						</div>
						<div class="forum_main">
							<h3 class="forum_title">
								<a href="{{ board.url }}">{{ board.board_name }}</a>
							</h3>
							<div class="forum_description">{{ board.board_description | raw }}</div>
						</div>
						{% if board.last_post %}
						<div class="forum_stats">
							<div class="posts">{{ board.plots_number }} {{ trans('replys') }}</div>
						</div>
						<div class="forum_lastpost">
							<div class="lastpost_container">
								<div class="lastpost_avatar">
									<a href="#">
										{% if board.last_post_avatar %}<img src="{{ board.last_post_avatar }}">{% endif %}
									</a>
								</div>
								<div class="lastpost_main">
									<h4 class="lastpost_title">
										<a href="{{ board.last_post_url }}">
											{{ trans('last reply') }}
										</a>
									</h4>
									<p>{{ trans('by') }} <span style="color:#ff0000;"><a href="{{ board.last_post_author_url }}">{{ board.last_post_author | raw }}</a></span></p>
									<p><time datetime="2020-09-20T05:38:53Z" title="20.09.2020 07:38 " data-short="20 Wrzesień">{{ board.last_post_date | date("Y-m-d H:i:s") }}</time></p>
								</div>
							</div>
						</div>
						{% endif %}
					</li>
					{% endfor %}{# for board in (boards[category.id]) #}
				</ol>
			</li>
			{% endfor %}{# for category in categories #}
		</ol>
	</div>
	{% include 'templates/partials/sidebar.twig' %}
</main>
<section id="statistics">
	<div class="container">
		<ul class="list_reset">
			<li class="footer_widget">
				<h2 class="footer_title">
					Kto jest online?
				</h2>
				<div class="footer_widget_content">
					<ul class="list_reset whosonline">
						<li>
							<a href="#">
								<span style="color:#ff0000;">Wiesław</span>
							</a>
						</li>

						<li>
							<a href="#">
								<span style="color:#ff0000;">Wiesław</span>
							</a>
						</li>
					</ul>
				</div>
			</li>
		</ul>
	</div>
</section>

{% endblock %}