<!-- one chat message -->
<li value="{{ shout.id }}">
<div >
  <div>
	<img src="{{ shout.avatar }}"  alt="" >
  </div>
  <div >
	  <div >
		<span><b class="float-left"><a href="{{ shout.uurl }}">{{ shout.username_html | raw }}</a></b><i class="float-right fc-g">{{ shout.updated_at}}</i>
	  </div>
	  <div >
		{{ shout.content }}
	  </div>
  </div>	  
</div>		
</li>
<!-- /one chat message -->