{% extends 'templates/main.twig' %}


{% block content %}
      
        <h2 class="mb-4">Delete: {{ element }}</h2>
        <p>Czy na pewno chcesz usunać {{ element }}?</p>
		<form action="{{ path_for('admin.delete.board.post') }}" method="post" id="submitOrder">
		<input type="hidden" name="id" value="{{ id }}">
		<input type="hidden" name="element" value="{{ element }}">
		<input class="form-check-input" type="checkbox" value="1"  name="confirm" id="confirm">
		  <label class="form-check-label" for="confirm">
			Potwierdź
		  </label>
			<button class="btn btn-danger" type="submit">TAK</button>
		</form>
		
{% endblock %}