{% extends 'templates/main.twig' %}

{% block headblock %}
<link rel="stylesheet" href="{{ base_url() }}/public/css/jodit.min.css">
{% endblock %}

{% block content %}
<nav class="nav">
  <a class="nav-link active" href="{{ path_for('admin.boards') }}">{{ trans('admin.back') }}</a>
</nav>
<div class="p-2">
<form action="{{ path_for('admin.edit.board') }}/{{ id }}" method="post" id="addBoard">
  <div class="row">
		<div class="form-group col-3">
		<label for="SelectCategory">{{ trans('admin.select category') }}:</label>
		<select class="form-control" id="SelectCategory" name="cat_id">
		  {% for category in categories %}
		  <option value="{{ category.id }}" {% if category.id == data.id %}selected{% endif %}>{{ stripTags(category.name) }}</option>	  
		  {% endfor %}
		</select>
	  </div>
     <div class="form-group col-2">
		<label for="SelectCategory">{{ trans('admin.select parent board') }}:</label>
		<select class="form-control" id="SelectParent" name="parent_id">
          <option value="" {% if not parent.id %}selected{% endif %}> </option>
		  {% for parent in parents %}
            <option value="{{ parent.id }}" {% if parent.id == data.parent_id %}selected{% endif %}>{{ stripTags(parent.board_name) }}</option>	  
		  {% endfor %}
		</select>
	  </div>
	  <div class="form-group col-3">
		<label for="boardName">{{ trans('admin.board name') }}</label>
		<input type="text" class="form-control" id="boardName" name="name" value="{{ data.board_name }}">
	  </div>
	  <div class="form-group col-2">
		<label for="boardOrder">{{ trans('admin.order') }}</label>
		<input type="text" class="form-control" id="boardOrder" name="order" value="{{ data.board_order }}">
	  </div>
	  <div class="control-group col-2 mt-4">
	  <label class="control control-checkbox mt-2" for="Active">{{ trans('admin.active') }}
		<input type="checkbox" id="Active" name="visability" {% if data.active == true %}checked{% endif %}>
		<div class="control_indicator mt-1"></div>
	  </label>
	  </div>
  </div> 
  <div class="form-group">
    <label for="BoardDesc">{{ trans('admin.board description') }}</label>
    <textarea class="form-control" id="BoardDesc" rows="3" name="desc">{{ data.board_description }}</textarea>
  </div>
  <div>
      <button type="submit" class="btn btn-primary">{{ trans('admin.submit') }}</button>
   </div>
</form>
</div>
{% endblock %}

{% block endcontent %}
<script src="{{base_url() }}/public/scripts/jodit.min.js"></script>
<script>

var editor = new Jodit('#BoardDesc', {
	langusage: 'pl',
    autofocus: true,
	height: "auto",
	allowResizeX: false,
    allowResizeY: false,

});

</script>
{% endblock %}

