{% extends 'templates/main.twig' %}


{% block content %}
      
        <h2>{{ trans('cache') }}</h2>
		
		<p>{{ trans('clean cache') }}:</p>
		<form action="{{ path_for('admin.cache') }}" method="post">
		<input type="hidden" name="p" value="1">
		<div class="row p-4">
			<div class="col-12 mx-auto form-check">
			<label class="control control-checkbox" for="objects">{{ trans('objects') }}
				<input type="checkbox" class="form-check-input" id="objects" name="objects">
				<div class="control_indicator mt-1"></div>
			</label>
			<label class="control control-checkbox" for="skins">{{ trans('skins') }}
				<input type="checkbox" class="form-check-input" id="skins" name="skins">
				<div class="control_indicator mt-1"></div>
			</label>

			  </div>
			  <div class="col-12 mt-4">
			  <button type="submit" class="btn btn-primary">{{ trans('submit') }}</button>
			  </div>
			</div>
		  
		</form>
		
{% endblock %}