{% extends 'templates/main.twig' %}


{% block content %}

<form action="{{ path_for('admin.mail.settings') }}" method="post">
  <div class="form-group">
    <label for="username">Email address</label>
    <input type="email" class="form-control" id="username" name="username" placeholder="name@example.com" value="{{ mail_cfg.username }}">
  </div>
   <div class="form-group">
    <label for="name">Sender name</label>
    <input type="text" class="form-control" id="name" name="name" value="{{ mail_cfg.name }}">
  </div>
  <div class="form-group">
    <label for="type">Example select</label>
    <select class="form-control" id="type" name="type">
      <option value="MAIL" {% if mail_cfg.type == "MAIL" %}selected{% endif %}>PHP Mail function</option>
      <option value="SMTP" {% if mail_cfg.type == "smtp" %}selected{% endif %}>SMTP</option>
    </select>
  </div>
<span id="smtp_cfg" {% if mail_cfg.type == "MAIL" %}style="display: none;"{% endif %}>
     <div class="form-group">
    <label for="host">SMTP host</label>
    <input type="text" class="form-control" id="host" name="host" value="{{ mail_cfg.host }}">
  </div>
     <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" id="password" name="password" value="{{ mail_cfg.password }}">
  </div>
     
   <div class="form-group">
    <label for="port">Port</label>
    <select class="form-control" id="port" name="port">
      <option value="25"  {% if mail_cfg.port == "25" %}selected{% endif %}>25</option>
      <option value="465" {% if mail_cfg.port == "465" %}selected{% endif %}>465</option>
	  <option value="587" {% if mail_cfg.port == "587" %}selected{% endif %}>587</option>
    </select>
  </div>
  <div class="form-group">
    <label for="tls">TLS</label>
    <select class="form-control" id="tls" name="tls">
      <option value="0" {% if mail_cfg.tls == "0" %}selected{% endif %}>Yes</option>
      <option value="1" {% if mail_cfg.tls == "1" %}selected{% endif %}>No</option>
    </select>
  </div>
  <div class="form-group">
    <label for="auth">Auth</label>
    <select class="form-control" id="auth" name="auth">
      <option value="0" {% if mail_cfg.auth == "0" %}selected{% endif %}>Yes</option>
      <option value="1" {% if mail_cfg.auth == "1" %}selected{% endif %}>No</option>
    </select>
  </div>
 </span>
 <span class="float-right"><button class="btn btn-success" type="submit">{{ trans('admin.submit') }}</button></span>
</form>
		
{% endblock %}


{% block endcontent %}
<script>

$('#type').on('change', function() {
		if(this.value == 'SMTP')
		{
			$('#smtp_cfg').fadeIn();
		}
		else
		{
			$('#smtp_cfg').fadeOut();
		}
	});

</script>
{% endblock %}