{% extends 'templates/main.twig' %}




{% block content %}
	<ul class="nav justify-content-end">
	  <li class="nav-item">
		<a class="nav-link btn btn-success active" href="{{ path_for('admin.menu.manage') }}">{{ trans('admin.add menu link') }}</a>
	  </li>
	</ul>
<hr />
        <ul class="list-group">
			{% for link in menu %}
		  <li class="list-group-item">
			<a href="{{ path_for('admin.menu.manage', {'id': link.id}) }}">{{ link.name|raw }}</a>
			<!-- Button trigger modal -->
				<button type="button" class="btn btn-danger float-right" data-toggle="modal" data-target="#page-{{ link.id }}">
				  Delete
				</button>

				<!-- Modal -->
				<div class="modal fade" id="page-{{ link.id }}" tabindex="-1" role="dialog" aria-labelledby="modal-page-{{ link.id }}" aria-hidden="true">
				  <div class="modal-dialog" role="document">
					<div class="modal-content">
					  <div class="modal-header">
						<h5 class="modal-title" id="modal-page-{{ link.id }}">Delete page: {{ link.name|raw }}?</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						  <span aria-hidden="true">&times;</span>
						</button>
					  </div>
					  <div class="modal-footer">
						<form action="{{ path_for('admin.menu.delete') }}" method="post">
							<input type="hidden" name="id" value="{{ link.id }}">
							<button type="submit" class="btn btn-danger">Delete</button>
						</form>
					  </div>
					</div>
				  </div>
				</div>
			
			
		  </li>
			{% endfor %}
		</ul>
		{% include 'templates/partials/paginator.twig' %}	
{% endblock %}




