{% extends 'templates/main.twig' %}


{% block content %}


<div id="accordion">
{% for kay, data in settings %}
{% if data is iterable %}
<div class="card">
	<div class="card-header" id="headingOne">
	  <h5 class="mb-0">
		<button class="btn btn-link" data-toggle="collapse" data-target="#{{ kay }}" aria-expanded="true" aria-controls="{{ kay }}">
		  {{ trans('admin.'~kay) }}
		</button>
	  </h5>
	</div>
	<div id="{{ kay }}" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
	<div class="card-body">
		{% for key, val in data %}
			{% if key == "version" %}
			<div class="col-auto">{{ key }} = {{ val|base64_decode }}</div>
			{% else %}
			<div class="col-auto">{{ key }} = {{ val }}</div>
			{% endif %}
		{% endfor %}
	</div>
	</div>
{% endif %}	
</div>
{% endfor %}
</div> 

{% endblock %}



