{% extends 'templates/main.twig' %}


{% block content %}
<h2>{{ trans('admin.admin.users') }} </h2>

        <ul class="list-group my-5">
			{% for user in users %}
		  <li class="list-group-item">
			<a href="{{ path_for('admin.user.edit', {'id':user.id}) }}">{{ user.username }}</a>
			<!-- Button trigger modal -->
				<button type="button" class="btn btn-danger float-right" data-toggle="modal" data-target="#user-{{ user.id }}">
				  Delete
				</button>

				<!-- Modal -->
				<div class="modal fade" id="user-{{ user.id }}" tabindex="-1" role="dialog" aria-labelledby="modal-user-{{ user.id }}" aria-hidden="true">
				  <div class="modal-dialog" role="document">
					<div class="modal-content">
					  <div class="modal-header">
						<h5 class="modal-title" id="modal-user-{{ user.id }}">Delete User {{ user.username }}?</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						  <span aria-hidden="true">&times;</span>
						</button>
					  </div>
					  <div class="modal-footer">
						<form action="{{ path_for('admin.user.delete') }}" method="post">
							<input type="hidden" name="id" value="{{ user.id }}">
							<button type="submit" class="btn btn-danger">Delete</button>
						</form>
					  </div>
					</div>
				  </div>
				</div>
			
			
		  </li>
			{% endfor %}
		</ul>
        <a type="button" class="btn btn-info float-right" href="{{ path_for('admin.user.add') }}">
				  {{ trans('admin.user.add') }}
				</a>
		{% include 'templates/partials/paginator.twig' %}	
{% endblock %}



