{% for message in conversation %}
{% if message.sender_id  %}
<div class="direct-chat-msg{% if message.sender_id == auth.check %} right{% endif %}" 
{# {% if ajax %} style="display: none;" {% endif %}  #}
data-messageid="{{ message.id }}">
  <div class="direct-chat-info clearfix">
    <span class="direct-chat-name{% if message.sender_id == auth.check %} float-right{% endif %}">{{ message.username }}</span>
    <span class="direct-chat-timestamp{% if message.sender_id != auth.check %} float-right{% endif %}">{{ message.created_at }}</span>
  </div>
  <!-- /.direct-chat-info -->
  <img class="direct-chat-img" src="{{ avatar(message._38) }}" alt="Message User Image"><!-- /.direct-chat-img -->
  <div class="direct-chat-text">
    {{ message.body | raw }}
  </div>
  <!-- /.direct-chat-text -->
</div>
{% endif %}
{% endfor %}